@import url();
body {
    padding: 0%;
    margin: 0%;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: limegreen;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background: orangered;
    color: white;


}
.navbar {
    color: white;

}
h1 {
    color: green;
}
.veg {
    color: green;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
a:link {
    text-decoration: none;
}
.highlight:nth-child(even){
    background-color: lightgray;
}
a:hover {
    color: blue;
}
ol {
    font-family: cursive;
    word-spacing: 1px;
    list-style: circle;
    text-shadow: 1px 1px 2px red;
}
